.on {
  background-color: #503396 !important;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-seat-condition-choice.png) !important;
}

.selected {
  background-color: #503396 !important;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-seat-condition-choice.png) !important;
}

.possible {
  color: #fff;
  background-color: #53565b;
}

.initial {
  color: #fff;
  background-color: #333;
}
