.mypageWrap {
  position: absolute;
  top: 128px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #036635;
  .mypageContent {
    width: 1100px;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .userInfoBox {
      .infoList {
        border-right: 1px solid #fff;
        padding-right: 30px;
        .mypageTitle {
          font-size: 1.1em;
          color: #fff;
          margin-bottom: 10px;
        }
        .userName {
          color: #fff;
          font-size: 1.5em;
          margin-bottom: 10px;
          .smallText {
            font-size: 0.988rem;
          }
        }
        .dateFont {
          font-size: 0.8rem;
          color: #fff;
          margin-bottom: 60px;
        }
        .mypageBtn {
          width: 120px;
          height: 40px;
          font-size: 0.9888em;
          border: 1px solid #fff;
          background-color: #036635;
          color: #fff;
          border-radius: 5px;
        }
      }
    }
    .userInfoListBox {
      width: 70%;
      display: flex;
      justify-content: space-around;
      .infoList {
        padding-left: 30px;
        .mypageTitle {
          font-size: 1.1em;
          color: #fff;
          margin-bottom: 10px;
        }
        .infoContent {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 20px;
          height: 100px;
          color: #fff;
          display: flex;
          align-items: center;
        }
        .dateFont {
          font-size: 0.8rem;
          color: #fff;
          margin-bottom: 60px;
        }
        .mypageBtn {
          width: 120px;
          height: 40px;
          font-size: 0.9888em;
          border: 1px solid #fff;
          background-color: #036635;
          color: #fff;
          border-radius: 5px;
        }
        .mypageBtnSmall {
          width: 60px;
          height: 40px;
          margin-right: 10px;
          font-size: 0.9888em;
          border: 1px solid #fff;
          background-color: #036635;
          color: #fff;
          border-radius: 5px;
        }
      }
    }
  }
}
