.authContainer {
  width: 100%;
  position: relative;
  .content {
    padding-top: 40px;
    .title {
      font-size: 1.333em;
      text-align: start;
      margin-bottom: 10px;
    }
    .titleText {
      text-align: start;
      margin-bottom: 12px;
    }
    .boxContent {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      button {
        width: 260px;
        height: 200px;
        border: 1px solid lightgray;
        background-color: #fff;
        border-radius: 10px;
      }
      .naver {
        padding-top: 16px;
      }
    }
  }
  .authModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
