.authContainer {
  width: 100%;
  min-height: 100%;
  .content {
    padding-top: 40px;
    text-align: start;
    margin-bottom: 60px;
    .title {
      font-size: 1.333em;
      text-align: start;
      margin-bottom: 10px;
    }
    .titleText {
      text-align: start;
    }
    .boxContent {
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 20px;
      font-size: 1.1em;
      .contentTitle {
        margin-bottom: 10px;
        line-height: 80px;
        padding-left: 10px;
      }
    }
    div > .consentBox {
      .boxTitle {
        padding-left: 10px;
      }
      .contentBox {
        position: relative;
        overflow: scroll;
        height: 180px;
        padding: 6px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid #dedede;
        .borderBox {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          .boxText {
            font-size: 0.9em;
            padding: 15px;
          }
        }
      }
    }
  }
  button {
    width: 200px;
    line-height: 46px;
    font-size: 20px;
    color: #777;
    border: 0;
    font-size: 1.1em;
    border-radius: 10px;
  }
  .nextBtn {
    width: 200px;
    line-height: 46px;
    font-size: 20px;
    background-color: #036635;
    color: #fff;
    border: 0;
    font-size: 1.1em;
    border-radius: 10px;
  }
}
