.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8fa;
  .contentsBox {
    width: 710px;
    margin: 0 auto;
    padding: 80px;
    background-color: #fff;
    text-align: center;
    padding-bottom: 300px;
    h1 > img {
      width: 146px;
      height: 120px;
      margin-bottom: 70px;
    }
    .tabTitle {
      ul {
        display: flex;
        li {
          padding-right: 50px;
          font-size: 14px;
          padding-bottom: 10px;
          border-bottom: 1px solid #d1d5dd;
          &:nth-child(4) {
            padding-right: 0px;
          }
        }
      }
    }
  }
}
