.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8fa;
  .contentsBox {
    width: 710px;
    margin: 0 auto;
    padding: 80px;
    background-color: #fff;
    text-align: center;
    padding-bottom: 300px;
    h1 > img {
      width: 146px;
      height: 120px;
      margin-bottom: 70px;
    }
    .tabTitle {
      ul {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #d1d5dd;
        .stepTitle {
          text-decoration: none;
          color: #444;
          font-size: 14px;
          padding-bottom: 10px;
          &:nth-child(4) {
            padding-right: 0px;
          }
        }
        .activeTitle {
          text-decoration: none;
          color: #036635;
          font-weight: bolder;
          font-size: 14px;
          padding-bottom: 11px;
          border-bottom: 3px solid #036635;
          &:nth-child(4) {
            padding-right: 0px;
          }
        }
      }
    }
  }
}
